extends ../layout

block content
    head
        //.
            link(href='stylesheets/ghpages-materialize.css', rel='stylesheet')
        //.
            link(href='stylesheets/prism.css', rel='stylesheet')
        link(href='stylesheets/jquery.datetimepicker.min.css', rel='stylesheet')
        link(href='stylesheets/dropzone.css', rel='stylesheet')
        script(src="http://code.jquery.com/jquery-1.11.1.min.js")
        script(src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js")
        script(src="javascripts/jquery.datetimepicker.full.min.js")
        script(src="javascripts/dropzone.js")

        script(type='text/javascript').
            Dropzone.options.uploadWidget = {

                // Prevents Dropzone from uploading dropped files immediately
                autoProcessQueue: true,
                parallelUploads: 1,
                uploadMultiple: false,
                acceptedFiles: 'image/*,video/*',
                init: function() {
                    this.on('success', function( file, resp ){
                        loadDevices();
                    });
                },
            };

            function setDeviceContent(deviceId) {
                var dateStr = $("#setDeviceContentForm [name=date]").val();
                var dateObj = new Date()

                if (dateStr != '') {
                    dateObj = new Date(dateStr);
                }
                
                var data = {
                    content: $("#setDeviceContentForm [name=content]").val(),
                    device: $("#setDeviceContentForm [name=device]").val(),
                    date: dateObj.toISOString(),
                    //date: new Date().toISOString(),
                    }

                $.ajax({
                    type: 'POST',
                    url: '/admin/add_task',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        $('.device-list-row-expand').remove();
                        showDeviceTasksForm(data.device, $('.device-list-row'));
                    }
                });
            }

            function __deviceTaskListFormText(deviceId, taskList) {
                var strTasks = "";
                for (var i in taskList) {
                    var task = taskList[i];
                    strTasks += "<tr><td>" + task.type + "</td><td>" + task.content.description + "</td><td>" + new Date(task.scheduleDate).toLocaleString() + "</td>" + "</tr>";
                }
                var addScheduleStr = "<tr class='device-list-row-expand'><td></td><td></td><td colspan=4>" +
                "<table><thead></thead>" +
                strTasks +
                "</table>" +
                "</td></tr>";

                return addScheduleStr;
            }
            function __setCurrentDate() {                
                var dateStr = ''
                $("#setDeviceContentForm [name=date]").val(dateStr);
                setDeviceContent('');
            }

            function __deviceTaskAddFormText(deviceId, contentList) {
                var strOptions = "";

                for (var i in contentList) {
                    var content = contentList[i];
                    strOptions += "<option value='"+content._id+"'>" + content.description + "</option>";
                }
                var addScheduleStr = "<tr class='device-list-row-expand'><td></td><td></td><td colspan=4>" +
                                "<form id='setDeviceContentForm' onsubmit=\"setDeviceContent('');return false;\">" +
                                "<select name='content'>" +
                                strOptions +
                                "</select>" +
                                "<input type='hidden' name='device' value='"+deviceId+"'>" +
                                "<input type='text' name='date' id='schedule_date'>" +
                                "<input type='submit' value='Schedule!'>" +
                                "<input type='button' value='Schedule now!' onclick='__setCurrentDate()'>" +
                                "</form>" +
                        "</td></tr>";

                return addScheduleStr;
            }

            function showDeviceTasksForm(deviceId, ele) {
                $.ajax({
                    url: '/admin/task_list',
                    data: {id:deviceId},
                    dataType: 'json',
                    success: function (tasksData) {
                        $.ajax({
                            url: '/admin/content_list',
                            data: '',
                            dataType: 'json',
                            success: function (data) {
                                
                                $(ele).after(__deviceTaskListFormText(deviceId, tasksData));
                                $(ele).after(__deviceTaskAddFormText(deviceId, data));
                                $('#schedule_date').datetimepicker();
                            }
                        });
                    }
                });
            }

            function setDeviceListClickHandler() {
                $('.device-list-row').click(function () {
                    $('.device-list-row-expand').remove();
                    var deviceId = this.id.split('#', 2)[1];
                    showDeviceTasksForm(deviceId, this);
                })
            }

            function device2tr(device) {
                return "<tr class='device-list-row' id='device#" + device._id + "'> <td></td>"+
                        '<td>' + device.lastSeen + '</td>' +
                        '<td>' + device.serial + '</td>' +
                        '<td>' + device.description + '</td>' +
                        '<td>' + device.tags + '</td>' +
                        '<td>' + device.light + '</td>' +
                        '<td>' + device.humidity + '</td>' +
                        '<td>' + device.temperature + '</td>' +
                        '<td>' + device.phoneNumber + '</td>' +
                        '<td>' + device.imei + '</td>' +
                        '<td>' + device.balance + '</td>' +
                        '</tr>';
            }
            function addDevice(device) {
                $('#deviceListTableBody').append(device2tr(device));
                setDeviceListClickHandler();
            }

            function buildDeviceList(jsonObj) {
                //var jsonObj = $.parseJSON(data);

                var tableBody = $('#deviceListTableBody');
                tableBody.empty();

                for (var i in jsonObj) {
                    var device = jsonObj[i];
                    tableBody.append(device2tr(device));
                }

                setDeviceListClickHandler();
            }

            function postForm(url, formId, loaderFn) {
                $.ajax( {
                    type: 'POST',
                    url: url,
                    dataType: 'json',
                    data: $("#"+formId).serialize(),
                        success: function(data) {
                            loaderFn(data)
                    }
                } );
            }

            function loadDevices() {
                $.ajax({
                    url: '/admin/device_list',
                    data: '',
                    dataType: 'json',
                    success: function (data) {
                        buildDeviceList(data)
                    }
                });
            }

            $(document).ready(function() {
                loadDevices();
                jQuery('#schedule_date').datetimepicker();
            });
    body(class="page-brand")
        h1.
            #{title}
        div(class="highlight")
            table(class="table")
                thead
                    tr
                        th last seen
                        th serial
                        th description
                        th tags
                        th light
                        th humidity
                        th temperature
                        th #
                        th imei
                        th balance
                tbody#deviceListTableBody
        
        form(action="/admin/upload", class="dropzone", id="upload-widget")                    
