extends ../layout

block content
    head        
        link(href='stylesheets/materialize.min.css', rel='stylesheet')
        //.
            link(href='stylesheets/prism.css', rel='stylesheet')
        link(href='stylesheets/jquery.datetimepicker.min.css', rel='stylesheet')
        link(href='stylesheets/dropzone.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        script(src="javascripts/jquery-1.11.1.min.js")
        script(src="javascripts/jquery-ui.min.js")
        script(src="javascripts/jquery.datetimepicker.full.min.js")
        script(src="javascripts/dropzone.js")
        script(src="javascripts/materialize.min.js")

        script(type='text/javascript').
            Dropzone.options.uploadWidget = {

                // Prevents Dropzone from uploading dropped files immediately
                autoProcessQueue: true,
                parallelUploads: 1,
                uploadMultiple: false,
                acceptedFiles: 'image/*,video/*',
                init: function() {
                    this.on('success', function( file, resp ){
                        loadDevices();
                    });
                },
            };

            function setDeviceContent() {
                var dateStr = $("#setDeviceContentForm [name=date]").val();
                var dateObj = new Date()

                if (dateStr != '') {
                    dateObj = new Date(dateStr);
                }
                
                var data = {
                    content: $("#setDeviceContentForm [name=content]").val(),
                    device: $("#setDeviceContentForm [name=device]").val(),
                    date: dateObj.toISOString(),
                    type: 'schedule', 
                    }

                $.ajax({
                    type: 'POST',
                    url: '/admin/add_task',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        $('.device-list-row-expand').remove();
                        showDeviceTasksForm(data.device, $('.device-list-row.selected'));
                    }
                });
            }

            function addDeviceUpdate(deviceId) {
                var dateStr = $("#setDeviceContentForm [name=date]").val();
                var dateObj = new Date()

                if (dateStr != '') {
                    dateObj = new Date(dateStr);
                }
                
                var data = {
                    content: null,                    
                    device: $("#setDeviceContentForm [name=device]").val(),
                    date: dateObj.toISOString(),
                    type: 'update',                    
                    }

                $.ajax({
                    type: 'POST',
                    url: '/admin/add_task',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        $('.device-list-row-expand').remove();
                        showDeviceTasksForm(data.device, $('.device-list-row.selected'));
                    }
                });
            }            

            function deleteTask(taskId) {            
                $.ajax({
                    type: 'POST',
                    url: '/admin/delete_task',
                    data: {id: taskId},
                    dataType: 'json',
                    success: function (data) {
                        $("[taskId='" + data._id + "']").remove();
                    }
                });
            }

            function __deviceTaskListFormText(deviceId, taskList) {
                var strTasks = "";
                for (var i in taskList) {
                    var task = taskList[i];
                    strTasks += "<tr taskId='" + task._id + "'><td>" + task.type + "</td><td>" + (task.content != null ? task.content.description : '') + "</td><td>" + new Date(task.scheduleDate).toLocaleString() + "</td>" + 
                    "<td><a href='' onclick='deleteTask(\"" + task._id + "\"); return false;'><i class='material-icons right'>delete</i></a></td></tr>";
                }
                var addScheduleStr = "<tr class='device-list-row-expand'><td></td><td></td><td colspan=5>" +
                "<table><thead></thead>" +
                strTasks +
                "</table>" +
                "</td></tr>";

                return addScheduleStr;
            }
            function __setCurrentDate() {                
                var dateStr = ''
                $("#setDeviceContentForm [name=date]").val(dateStr);
                setDeviceContent('');
            }

            function __deviceTaskAddFormText(deviceId, contentList) {
                var strOptions = "";

                for (var i in contentList) {
                    var content = contentList[i];
                    strOptions += "<option value='"+content._id+"'>" + content.description + "</option>";
                }
                var addScheduleStr = "<tr class='device-list-row-expand'><td/><td colspan=9>" +
                                "<form class='col s9' id='setDeviceContentForm' onsubmit=\"\">" +
                                "<div class='row'>" +
                                "<div class='input-field col s3'><select id='content' name='content'>" +
                                strOptions +
                                "</select><label for='content'>Select media</label></div>" +
                                "<input type='hidden' name='device' value='"+deviceId+"'>" +
                                "<div class='input-field col s2'><input type='text' name='date' id='schedule_date'>" +
                                "<label for='schedule_date'>Schedule date(now)</label></div>" +
                                "<div class='input-field col s4'>" +
                                "<button class='btn waves-effect waves-light' type='button' name='action' onclick='setDeviceContent()'>Schedule!<i class='material-icons right'>send</i></button>" +                                                                                                  
                                "</div>" +
                                                              
                                "</form>" +
                        "</td></tr>";

                return addScheduleStr;
            }

            function showDeviceTasksForm(deviceId, ele) {
                $.ajax({
                    url: '/admin/task_list',
                    data: {id:deviceId},
                    dataType: 'json',
                    success: function (tasksData) {
                        $.ajax({
                            url: '/admin/content_list',
                            data: '',
                            dataType: 'json',
                            success: function (data) {
                                
                                $(ele).after(__deviceTaskListFormText(deviceId, tasksData));
                                $(ele).after(__deviceTaskAddFormText(deviceId, data));
                                $('#schedule_date').datetimepicker();
                                $(document).ready(function() {
                                    $('select').material_select();
                                });
                            }
                        });
                    }
                });
            }

            function setDeviceListClickHandler() {
                $('.device-list-row').click(function () {
                    $('.device-list-row-expand').remove();
                    if ($(this).hasClass('selected')) {
                        $(this).removeClass('selected');
                    } else {
                        $(this).addClass('selected');
                        var deviceId = this.id.split('#', 2)[1];
                        showDeviceTasksForm(deviceId, this);
                    }                                                            
                })
            }

            function device2tr(device) {
                return "<tr class='device-list-row' id='device#" + device._id + "'>"+
                        '<td>' + device.lastSeen + '</td>' +
                        '<td>' + device.serial + '</td>' +
                        '<td>' + device.description + '</td>' +
                        '<td>' + device.tags + '</td>' +
                        '<td>' + device.light + '</td>' +
                        '<td>' + device.humidity + '</td>' +
                        '<td>' + device.temperature + '</td>' +
                        '<td>' + device.phoneNumber + '</td>' +
                        '<td>' + device.imei + '</td>' +
                        '<td>' + device.balance + '</td>' +
                        '</tr>';
            }
            function addDevice(device) {
                $('#deviceListTableBody').append(device2tr(device));
                setDeviceListClickHandler();
            }

            function buildDeviceList(jsonObj) {
                //var jsonObj = $.parseJSON(data);
                $('.device-list-row-expand').remove();

                var tableBody = $('#deviceListTableBody');
                tableBody.empty();

                for (var i in jsonObj) {
                    var device = jsonObj[i];
                    tableBody.append(device2tr(device));
                }

                setDeviceListClickHandler();
            }

            function postForm(url, formId, loaderFn) {
                $.ajax( {
                    type: 'POST',
                    url: url,
                    dataType: 'json',
                    data: $("#"+formId).serialize(),
                        success: function(data) {
                            loaderFn(data)
                    }
                } );
            }

            function loadDevices() {
                $.ajax({
                    url: '/admin/device_list',
                    data: '',
                    dataType: 'json',
                    success: function (data) {
                        buildDeviceList(data)
                    }
                });
            }

            $(document).ready(function() {
                loadDevices();
                jQuery('#schedule_date').datetimepicker();
            });
    body(class="page-brand")
        h1.
            #{title}
        div(class="highlight")
            table(class="table")
                thead
                    tr
                        th last seen
                        th serial
                        th description
                        th tags
                        th light
                        th humidity
                        th temperature
                        th #
                        th imei
                        th balance
                tbody#deviceListTableBody
        
        form(action="/admin/upload", class="dropzone", id="upload-widget")                    
